.battle--form--input {
	width: 20vw;
	font-family: "VT323", monospace;
	font-size: 1rem;
	border: none;
	border: 0.25rem solid black;
	margin-right: 1rem;
	color: #333;
	padding: 0.5rem;
	box-shadow: 0.25rem 0.25rem 0rem black;
}

.battle--button {
	color: rgb(34, 31, 31);
	background: #3d7dca;
	width: 15vw;
	height: 7vh;
	font-family: "VT323", monospace;
	font-weight: 500;
	font-size: 1.5rem;
	margin-left: 0.5rem;
	padding: 0.25rem;
	box-shadow: 0.25rem 0.25rem 0rem black;
}

.battle--form--input--error {
	border: 0.25rem solid indianred;

	box-shadow: 0.25rem 0.25rem 0rem indianred;
}
